@inherits Umbraco.Web.ViewModel<ClassName>
@{

	// Single line comment
	var path = Helpers.GetAssetPath(file);
	
	/*
	Multi-line comment
	*/
}
<p>
	@* Razor comment *@
	<!-- HTML comment -->
	
	@path
</p>

<ul>
	@foreach (var link in links) {
		@if (link != null) {
			<li><a href="@(link.Url)">@(link.Name)</a></li>
		}
	}
</ul>

<p data-path="@(path)">
	@* Hey there *@
</p>
