@inherits Umbraco.Web.ViewModel<ClassName>
@{
	// Single line comment
	var path = Helpers.GetAssetPath(file);
	
	/*
	Multi-line comment
	*/
}
<p>
	@* Razor comment *@
	<!-- HTML comment -->
	
	@path
</p>

<p data-path="@(path)">
	@* Hey there *@
</p>
